/************************ header************************/
/******ceci est un .bloc BEM****************************/
.navbar {
    @include flex;
    width: 100%;
    box-sizing: border-box;


    /**********Ceci est un __élément du bloc BEM************/
    .navbar__link {

        position: absolute;
        left: 20px;
        align-self: center;
    }

    /**********Ceci est un --modificateur du bloc BEM************
.navbar__link--active {
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
    margin-bottom: 2px;
    width: 104%;
    padding-bottom: 15px;
}

    /**********Ceci est un __élément du bloc BEM************/
    .navbar__logo {
        width: auto;
        display: flex;
        max-width: 10em;
        height: auto;
        cursor: pointer;
        padding: 14px 0px 14px 0px;
    }



}