/************************ Title H1************************/
.area-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-bg-color;
    padding-top: 20px;
    padding-bottom: 20px;

    .area-header__title {
        display: flex;
        font-size: 24px;
        font-weight: 700;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: 5px;

    }

    .area-header__paragraph {
        color: $footer-color;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 5px;

    }

    .area-header__button {

        @include flex;
        @include shadow;
        @include linear-gradient;
        color: $textecolor;
        border: none;
        padding: 15px 16px 15px 16px;
        border-radius: 35px;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 16px;
        margin-top: 27px;
        margin-bottom: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        transition: all 250ms ease-in-out;



        &:hover {
            filter: brightness(110%);
            box-shadow: darken(#adadad, 10%) 0px 6px 10px 0px;


        }

    }




}