/**************************General*********************/

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiaire-color: #99E2D0;
$text-button-color: #008766;
$footer-color: #353535;
$main-bg-color: #F6F6F6;
$grey-tint-2: #EAEAEA;
$Grey-Tint4: #7E7E7E;
$textecolor: #ffffff;
$cardcolor: #ffffff;
$lightening: 4%;

/*********************mixins***************************/
@mixin flex($direction: row, $justify: center, $align: center, $text: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
}

@mixin linear-gradient() {
    background: linear-gradient(to top, $main-color, $secondary-color);
}


@mixin shadow {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin drop-shadow {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}



body {
    margin: 0;

    @include flex;



    * {
        font-family: 'Roboto', sans-serif;
    }

    a {
        color: inherit;
        text-decoration: none;

    }

    .section-title {
        margin: 0;
        font-size: 22px;
    }

}



/*****************keyframes***************************/




/************************ header************************/
/******ceci est un .bloc BEM****************************/
.navbar {
    @include flex;
    width: 100%;
    box-sizing: border-box;


    /**********Ceci est un __élément du bloc BEM************/
    .navbar__link {

        padding-top: 10px;
        margin-top: 2px;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    /**********Ceci est un --modificateur du bloc BEM************
.navbar__link--active {
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
    margin-bottom: 2px;
    width: 104%;
    padding-bottom: 15px;
}

    /**********Ceci est un __élément du bloc BEM************/
    .navbar__logo {
        width: auto;
        display: flex;
        max-width: 15em;
        height: auto;
        cursor: pointer;
        padding: 30px 0px 30px 0px;
    }

    /**********Ceci est un __élément du bloc BEM************/
    /*
.navbar__arrow {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 30px 0px 30px 0px;
}

*/
}



/*********************START infobar*********************** */
.infobar {

    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 17px;
    align-self: stretch;
    background-color: $grey-tint-2;
    font-size: 16px;
    font-weight: 700;

    .fa-location-dot {

        color: $footer-color;
    }


}




/*****************************end infobar*********************** */

/************************ Title H1************************/
.area-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-bg-color;
    padding-top: 20px;
    padding-bottom: 20px;

    .area-header__title {
        display: flex;
        font-size: 40px;
        font-weight: 700;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: 30px;

    }

    .area-header__paragraph {
        color: $footer-color;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 5px;

    }

    .area-header__button {

        @include flex;
        @include shadow;
        @include linear-gradient;
        color: $textecolor;
        border: none;
        padding: 15px 16px 15px 16px;
        border-radius: 35px;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 16px;
        margin-top: 27px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        transition: all 250ms ease-in-out;



        &:hover {
            filter: brightness(110%);
            box-shadow: darken(#adadad, 10%) 0px 6px 10px 0px;


        }

    }




}






/********** FIN header*****************/

/********operation-section************/

.operation-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;


    .operation-section__title {
        display: flex;
        justify-content: flex-start;
        margin-left: 13px;
    }

    .operation-section__container {
        position: relative;
        display: flex;
        width: 100%;
        margin: 25px 0 25px 0;
        height: 72px;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        border-radius: 20px;

        .operation-section__ring {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            height: 15px;
            width: 15px;
            background-color: $main-color;
            color: $grey-tint-2;
            border-radius: 50%;
            border: 1px $textecolor;
            box-sizing: border-box;
            left: 16px;
            z-index: 1;

        }

        .operation-section__button {
            position: relative;

            display: flex;
            gap: 20px;
            width: 100%;
            height: 100%;
            background-color: $main-bg-color;
            border: none;
            padding: 15px 16px 15px 32px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
            align-items: center;
            box-sizing: border-box;
            font-size: 18px;
            z-index: 0;
            @include shadow;

            .fa-mobile-screen-button {
                color: $Grey-Tint4;
            }

            .fa-bars {
                color: $Grey-Tint4;
            }

            .fa-store {
                color: $main-color;
            }

            &:hover {
                filter: brightness(110%);
                box-shadow: darken(#adadad, 10%) 0px 6px 10px 0px;


            }


        }

    }

}




/******************************card****************************/

.card {
    background-color: $cardcolor;
    border-radius: 20px;
    @include drop-shadow;



    &>img {
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-bottom: 0px;
        width: 100%;
        height: 231px;
        overflow: clip;
    }

    &:hover {
        filter: brightness(102%);
        box-shadow: darken(#adadad, 10%) 0px 6px 10px 0px;


    }

    .card__new {
        position: absolute;
        top: 8px;
        right: 20px;
        background-color: $tertiaire-color;
        color: $text-button-color;
        padding: 7px 9px;
        border-radius: 2px;
        @include shadow;

        font-size: 14px;
        font-weight: 500;


    }
}


.card__content {
    width: 100%;
    padding: 13px;



    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;

    .card__text {
        display: flex;
        flex-direction: column;
        align-items: start;

        gap: 0px;
        margin: 0px;

        .card__title {
            font-size: 18px;
            margin: 0px;
        }

        .card__subtitle {
            margin: 0;
        }


        .card__euro {
            font-weight: 700;
        }

    }

    .card__rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;




        .heart-label {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 4;
            width: 40px;
            height: 40px;
            cursor: pointer;

            .fa-heart {
                display: block;
                position: absolute;
            }



            .heart--regular {
                display: flex;
                flex-direction: row;
                font-size: 2em;
                position: absolute;
                transform-origin: center bottom;
                transition: opacity 600ms;
                opacity: 1;
                z-index: 1;

            }

            .heart--solid {
                display: flex;
                flex-direction: row;
                font-size: 2em;
                z-index: 4;
                line-height: 1;
                font-size: 2em;
                background-image: linear-gradient(to top, $main-color, $secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                transition: opacity 1000ms;
                opacity: 0;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
                @include drop-shadow;
            }


        }

        .hidenn {}

        input:checked+label .heart--regular {

            opacity: 0;
        }

        input:checked+label .heart--solid {

            opacity: 1;

            animation: fill-in 1000ms ease-in forwards;
            animation: bounce 0.7s alternate infinite cubic-bezier(0, .65, .85, .53);
            animation-play-state: random($limit: 1);


            animation-iteration-count: 2;



            @keyframes bounce {
                from {
                    transform: translateY(0);
                }



                80% {
                    transform: translateX(-7%) rotateX(15deg);
                }

                to {
                    transform: translateY(-20px);
                }
            }
        }
    }
}





/************************Section restaurant************************/

.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: $main-bg-color;

    padding: 30px;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    align-self: stretch;
    flex-wrap: wrap;



    &__title {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__cards {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-self: stretch;

        justify-content: center;
        flex-wrap: wrap;
        row-gap: 18px;
        column-gap: 18px;



    }



}






/***********FOOTER*********************/
.footer {
    background-color: $footer-color;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .footer__column {
        color: $main-bg-color;

        .footer__title {
            filter: brightness(100);
            height: 27px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }

        .footer__list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;

            .footer__element {
                display: flex;
                padding: 5px;
                gap: 10px;
            }


        }
    }


}







/******************FIN FOOTER*************/


/* Le code ci-dessous correspond à la version responsive uniquement
*/


/****** Media queries ***********/
/****large devices (tablets, less/equal than 780px)******/

@media (min-width: 1100px) {

    *body {

        display: block;
    }

    * {
        font-size: 20px;
    }

    .operation-section {
        max-width: 1080px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 50px;

        .operation-section__responsive {
            flex-direction: row;
            display: flex;
            align-items: center;
        }

    }

    .restaurant__responsive {
        background-color: $main-bg-color;

        .restaurant {
            display: flex;
            flex-direction: row;


            column-gap: 100px;
            row-gap: 50px;
            max-width: 1080px;
            margin: auto;

            &__title {

                display: flex;
                justify-content: space-between;
                align-items: center;

            }

            &__cards {
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 50px;
                column-gap: 100px;
                align-self: stretch;

                justify-content: center;



            }
        }
    }

    .footer {
        align-items: center;
        justify-content: flex-end;
        padding: 30px 25px 30px 25px;


        .footer__column {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 90px;

            .footer__list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
    }
}