* {
    font-family: "roboto", "shrikhand";
}


.background__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}


.menu {
    border-radius: 30px 30px 0 0;
    background-color: $main-bg-color;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: -50px 0 0 0;
    padding: 50px 50px;

    .menu__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        letter-spacing: 1px;
        gap: 40px;

        >H1 {
            font-size: 28px;
            font-weight: 400;

            font-family: "shrikhand";
        }

        .heart-label {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 4;
            width: 40px;
            height: 40px;
            cursor: pointer;

            .fa-heart {
                display: block;
                position: absolute;
            }



            .heart--regular {
                display: flex;
                flex-direction: row;
                font-size: 2em;
                position: absolute;
                transform-origin: center bottom;
                transition: opacity 600ms;
                opacity: 1;
                z-index: 1;

            }

            .heart--solid {
                display: flex;
                flex-direction: row;
                font-size: 2em;
                z-index: 4;
                line-height: 1;
                font-size: 2em;
                background-image: linear-gradient(to top, $main-color, $secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                transition: opacity 1000ms;
                opacity: 0;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
                @include drop-shadow;
            }


        }

        .heart-checkbox {
            display: none;
        }

        input:checked+label .heart--regular {

            opacity: 0;
        }

        input:checked+label .heart--solid {

            opacity: 1;

            animation: fill-in 1000ms ease-in forwards;
            animation: bounce 0.7s alternate infinite cubic-bezier(0, .65, .85, .53);
            animation-play-state: random($limit: 1);


            animation-iteration-count: 2;




        }
    }
}

.menu__body {
    display: flex;
    flex-direction: column;
    gap: 10px;


    .menu__subtitle {
        font-size: 16px;
        font-weight: 200;
        height: 27px;
        position: relative;
    }

    .menu__subtitle::after {
        content: "";
        position: absolute;
        width: 40px;
        left: 0px;
        bottom: 0px;
        height: 3px;
        background: $tertiaire-color;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 12px;




        .menucard {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            background-color: $cardcolor ;
            height: 70px;
            border-radius: 15px;
            padding: 0 15px;
            @include drop-shadow;
            font-family: "roboto", "shrikhand";


            animation: crescendo 800ms linear both;
            opacity: 0;


            .hidden {
                display: none;
            }




            .menucard__content {
                display: flex;
                flex-flow: column nowrap;

                gap: 5px;
                overflow: hidden;
                white-space: nowrap;
                font-family: "roboto", "shrikhand";

                .menucard__content__title {
                    font-size: 18px;
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }

                .menucard__content__subtitle {
                    font-size: 15px;
                    font-weight: 300;
                    overflow: hidden;
                    text-overflow: ellipsis;


                }



            }



            .menucard__price {
                display: flex;
                align-self: flex-end;
                padding-bottom: 15px;
                font-weight: 700;
                font-size: 15px;
                transition: margin 800ms ease-in-out;
            }



            .menucard__check {
                position: absolute;
                top: 0;
                bottom: 0;
                right: -70px;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $tertiaire-color;
                color: $cardcolor;
                transition: transform 800ms ease-in-out;


                .fa-check-circle {
                    transition: transform 1s ease-in-out;
                    animation: spinningOut 1s ease-out;
                }






            }

        }


        //*************Input check***********************************//

        .menucard input:checked~.menucard__check {
            transform: translateX(-70px);
        }

        //************price checked***********************************//
        .menucard input:checked~.menucard__price {
            margin-right: 70px;
        }

        //**********************rotation check**************************//
        .menucard input:checked~.menucard__check .fa-check-circle {
            animation: spinningIn 700ms 200ms both ease-in;
        }


        //******************fin input check**************************//

        .menucard--A {
            animation-delay: 300ms;


        }


        .menucard--B {
            animation-delay: 600ms;

        }

        .menucard--C {
            animation-delay: 900ms;

        }

        .menucard--D {
            animation-delay: 1200ms;

        }



    }




}

.order__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 218px;
    height: 50px;
    border-radius: 30px;

    color: $cardcolor;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 800ms ease-in-out;

    @include drop-shadow;
    @include linear-gradient;

    &:hover {

        filter: brightness(110%);
        box-shadow: darken(#adadad, 10%) 0px 6px 10px 0px;
        transform: scale(1.1);
    }
}