/*****************keyframes***************************/


//*************checked**************//
@keyframes spinningIn {
    0% {
        transform: rotate(360deg);
        opacity: 0;
    }

    25% {
        transform: rotate(180deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}


//*************unchecked**************//
@keyframes spinningOut {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    75% {
        transform: rotate(180deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}


//*************heart**************//

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    80% {
        transform: translateX(-7%) rotateX(15deg);
    }

    to {
        transform: translateY(-20px);
    }
}

//***************card***************//
@keyframes crescendo {
    0% {

        opacity: 0;
        transform: translateY(100%);

    }

    50% {
        opacity: 0.5;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }


}

/*****************loader***************************/
@keyframes spin {


    to {
        transform: rotate(360deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    from {
        transform: rotate(0deg);
    }
}

@keyframes hideLoader {
    0% {
        opacity: 1;
        visibility: visible;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}