/****** Media queries ***********/
/****large devices (tablets, less/equal than 780px)******/
@media (min-width: 780px) {

    *body {

        display: block;
    }


    .operation-section {

        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;

        .operation-section__responsive {
            flex-direction: row;
            display: flex;
            align-items: center;
        }

    }

    .restaurant__responsive {
        background-color: $main-bg-color;



        .restaurant {

            padding: 30px 30px;

            margin: 0 auto;




            &__title {


                font-size: 24px;
                margin-top: 0px;
                padding-bottom: 28px;

            }

            &__cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 50px;
                column-gap: 50px;



            }





        }
    }

    .menu {
        max-width: 1055px;
        margin: -50px auto 0 auto;
        padding: 50px 150px;
        box-sizing: border-box;
    }


}


/****large devices (, less/equal than 1100px)******/

@media (min-width: 1100px) {


    *body {


        display: block;
    }





    .operation-section {
        max-width: 1250px;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;

        .operation-section__responsive {
            flex-direction: row;
            display: flex;
            align-items: center;
        }

    }

    .restaurant__responsive {
        background-color: $main-bg-color;



        .restaurant {

            padding: 30px 30px;
            max-width: 1250px;
            margin: 0 auto;




            &__title {


                font-size: 24px;
                margin-top: 0px;
                padding-bottom: 28px;

            }

            &__cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 50px;
                column-gap: 100px;



            }





        }
    }



    .footer {
        align-items: center;
        justify-content: flex-end;
        padding: 76px 25px 30px 25px;


        .footer__column {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 90px;

            .footer__list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
    }
}