/****** Media queries ***********/
/****large devices (tablets, less/equal than 780px)******/

@media (min-width: 780px) {

    *body {

        display: block;
    }

    * {
        font-size: 20px;
    }

    .operation-section {
        max-width: 1080px;
        margin: auto;

        .operation-section__responsive {
            flex-direction: row;
            display: flex;
            align-items: center;
        }

    }

    .restaurant__responsive {
        background-color: $main-bg-color;

        .restaurant {
            display: flex;
            flex-direction: row;


            column-gap: 100px;
            row-gap: 50px;
            max-width: 1080px;
            margin: auto;


        }
    }

    .footer {
        align-items: center;
        justify-content: flex-end;


        .footer__column {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 90px;

            .footer__list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
    }
}